.parentForChart {
  position: relative;
  height: 40vh;
  width: 100vw;
}
.mainChart,
.typesChart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

}
.mainChart > div,
.typesChart > div {
  width: 100%;
  margin-bottom: 20px;
}
.periods {
  display: flex;
  grid-column-gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.periods label {
  display: grid;
  grid-row-gap: 4px;
}
.periods input {
  border-radius: 10px;
  width: 200px;
  padding: 5px 10px;
}
.periods button {
  border-radius: 10px;
  background: #DB2B21;
  border: none;
  padding: 13px 20px;
  align-self: end;
  color: #fff;
}